name: Add Fat APK for Beta build
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-latest"
    environment: Android release
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4.0.0
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Set release tag name
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - run: flutter pub get
      - name: Run tests
        run: |
          bash <(curl -s https://raw.githubusercontent.com/objectbox/objectbox-dart/main/install.sh)
          flutter test
      - name: Setup secrets
        run: |
          echo "${{ secrets.SIGNING_KEY_PROPERTIES }}" > ./android/key.properties
          echo "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode > ./android/flow-upload-keystore.jks
      - name: Build fat APK
        run: flutter build apk --release --no-tree-shake-icons
      - name: Upload file to release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ env.RELEASE_TAG }} ./build/app/outputs/flutter-apk/app-release.apk
