name: Deploy Android
on:
  push:
    branches:
      - "release"
  workflow_dispatch:
jobs:
  build:
    needs:
      - "test"
    runs-on: "ubuntu-latest"
    environment: Android release
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4.0.0
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter pub get
      - name: Setup secrets
        run: |
          echo "${{ secrets.SIGNING_KEY_PROPERTIES }}" | base64 --decode > ./android/key.properties
          echo "${{ secrets.SIGNING_KEYSTORE }}" | base64 --decode > ./android/flow-upload-keystore.jks
          echo "${{ secrets.GOOGLE_SERVICE_ACCOUNT }}" > service_account.json
      - name: Build appbundle
        run: flutter build appbundle --no-tree-shake-icons
      - name: Deploy to Open Testing
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service_account.json
          packageName: mn.flow.flow
          releaseFile: app/build/outputs/bundle/release/app-release.aab
          track: beta
